body .box {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
}

.model {
    position: relative;
    
    /* width: 60vw; */
}

.model .openBtn {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10%;
    top: 5%;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
}

.model .openBtn:hover {
    cursor: pointer;
}

.model1 {
   text-align: center;
   position: relative;
}

.model1 .closeBtn {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    vertical-align: middle;
}
.model1 .closeBtn p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    line-height: 37px;
}

.model1 .closeBtn:hover {
    cursor: pointer;
}